

.main{
    background-image: url(Frame\ 3.jpg);
    background-size: cover;
    height: 2400px;
    width: 100%;
    background-color: black 
    ;
    
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.intro{
    background: transparent;
    backdrop-filter: blur(0.5px);
    color: rgb(242, 236, 236);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: xx-large;
        height: 300px;
        width: 800px;
        display: grid;
        align-items: center;
        justify-content:center;
        margin: 100px 100px 100px 100px;
        
        

}

.nav{
    height: 60px;
    width: 100%;
    color: white;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.nav a{
    text-decoration: none;
    font-size: larger;
    color: aliceblue;
    opacity: 0.8;
}


.social{
    height: 200px;
    width:900px;
    margin-top: 900px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    background-color: aliceblue;
    background: transparent;
    /* backdrop-filter: blur(30px); */
    border-radius:10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* border: 2px white solid; */
    opacity: 0.7;
}
.social:hover{
    opacity: 1;
}

a:hover{
    opacity: 1;
}


 .second{
    height: 500px;
    background-color:white ;
    width: 900px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    background-color: rgba(8, 37, 41, 1);
} 

.one{
    height: 100px;
    width:100px;
     background: transparent;

}

.one i{
    font-size: 60px;
    color: aliceblue;
}